media/text/example-nodered-dashboard-1.txt
[{"id":"896aa9cc.e1d4","type":"function","z":"ebd04ace.c62cc8","name":"forward","func":"\\nreturn
msg;","outputs":1,"noerr":0,"x":189.49998474121094,"y":241.40000915527344,"wires":[["fbe1a8c9.ae7108","a2ae22b6.480bb8","ffe3f215.53cb98","400669b.adfd518"]]},{"id":"400669b.adfd518","type":"function","z":"ebd04ace.c62cc8","name":"average","func":"msg.topic=\\"Average\\";\\nvar
avg = global.get(\\"avg\\")\|\|msg.payload;\\navg = (avg +
msg.payload)/2;\\nglobal.set(\\"avg\\",avg);\\nmsg.payload = avg;\\nreturn
msg;","outputs":1,"noerr":0,"x":379.20001220703125,"y":314.20001220703125,"wires":[["c4dd424f.438fd"]]},{"id":"ffe3f215.53cb98","type":"function","z":"ebd04ace.c62cc8","name":"Minimum","func":"msg.topic=\\"Minimum\\";\\nvar
avg = global.get(\\"min\\")\|\|msg.payload;\\nmin =
Math.min(avg,msg.payload);\\nglobal.set(\\"min\\",min);\\nmsg.payload =
min;\\nreturn
msg;","outputs":1,"noerr":0,"x":384.20001220703125,"y":264.20001220703125,"wires":[["a0c73203.c12118"]]},{"id":"a2ae22b6.480bb8","type":"function","z":"ebd04ace.c62cc8","name":"Maximum","func":"msg.topic=\\"Max\\";\\nvar
avg = global.get(\\"max\\")\|\|msg.payload;\\nmax =
Math.max(avg,msg.payload);\\nglobal.set(\\"max\\",max);\\nmsg.payload =
max;\\nreturn
msg;","outputs":1,"noerr":0,"x":378.20001220703125,"y":218.1999969482422,"wires":[["776bd3ba.0bfcdc"]]},{"id":"fbe1a8c9.ae7108","type":"function","z":"ebd04ace.c62cc8","name":"Value","func":"msg.topic=\\"Temperature\\";\\nreturn
msg;","outputs":1,"noerr":0,"x":363.5,"y":170.59999084472656,"wires":[["db835c23.3fe2f8"]]},{"id":"db835c23.3fe2f8","type":"delay","z":"ebd04ace.c62cc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":542.2000122070312,"y":169.1999969482422,"wires":[["5a936203.20c164"]]},{"id":"776bd3ba.0bfcdc","type":"delay","z":"ebd04ace.c62cc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":543.2000122070312,"y":217.1999969482422,"wires":[["5a936203.20c164"]]},{"id":"a0c73203.c12118","type":"delay","z":"ebd04ace.c62cc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":543.2000122070312,"y":264.20001220703125,"wires":[["5a936203.20c164"]]},{"id":"c4dd424f.438fd","type":"delay","z":"ebd04ace.c62cc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":544.5,"y":313.20001220703125,"wires":[["5a936203.20c164"]]},{"id":"5a936203.20c164","type":"ui\_chart","z":"ebd04ace.c62cc8","name":"","group":"e15dd43.3c2d928","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"30","removeOlderUnit":"60","x":717.5,"y":248.60000610351562,"wires":[[],[]]},{"id":"e15dd43.3c2d928","type":"ui\_group","z":"","name":"Default","tab":"c261d19.2ddc2b","disp":true,"width":"6"},{"id":"c261d19.2ddc2b","type":"ui\_tab","z":"","name":"Home","icon":"dashboard"}]
